.Tracks{
    display: inline-block;
    width: 85%;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 5% 0%;
}

.Tracks > h2 {
    display: block;
    width: 100%;
    background-color: #101010;

}

.trackLabel {
    font-size: 4vmax;
}

.trackBox {
    display: inline-block;
    margin: 3% 0%;
    padding: 3% 0%;
    background-color: #303030;
    border-radius: 10px;
    z-index: 1;
}
