.trackBlock {
    position: relative;
    display: inline-block;
    width: 37vmax;
    height: 10vmin;
    background-color: gray;
    justify-content: left;
    margin: 1%;
    font-size: 1.5vmax;
    transition: font-size .5s, width .5s, height .5s;
    overflow-y: scroll;
    overflow-x: hidden;
    word-wrap:normal;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, .1);
    z-index: 2;
}

.trackBlock > img{
    display: block;
    position: relative;
    height: 10vmin;
    width: 10vmin;
    left: 0%;
    object-fit: cover;
    float: left;
    transition: width .5s, height .5s;
}

.trackBlock:hover{
    width: 40vmax;
    height: 12vmin;
    font-size: 1.75vmax;
    background-color: rgba(255, 255, 255, .2);
    transition: background-color .5s, font-size .5s, width .5s, height .5s;
    cursor: pointer;

}

.trackBlock:hover > img {
    width: 12vmin;
    height: 12vmin;
    transition: width .5s, height .5s;
}

.trackText {
    margin: 0;
    position: relative;
    display: block;
    height: 100%;
    opacity: 100%;
    color: white;
}
