.Artists{
    display: inline-block;
    width: 85%;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    overflow: scroll;
}

.Artists > h2 {
    display: block;
    width: 100%;
}

.artistBox {
    margin: 3% 0%;
    padding: 3% 0%;
    background-color: #303030;
    border-radius: 10px;
}