.TitleBar {
    display: flex;
    height: 10%;
    width: 100%;
    align-items: center;
}

.titleText {
    display: inline-block;
    width: 85%;
    left: 9%;
}

.btn {
    margin: auto;
}

.theText {
    position: absolute;
    display: inline-block;
    justify-content: center;
    top: 1%;
}