@keyframes loadInSlideTop {
  from {
    transform: translate(-50%, 0%);
    top: 0%;
  }
  to {
    transform: translate(-50%, -100%);
    top: 50%;
  }

}

@keyframes loadInSlideBottom{
  from {
    top: 100%;
  }
  to {
    top: 60%;
  }

}

.container {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.title {
  position: absolute;
  display: block;
  transform: translate(-50%, -100%);
  top: 50%;
  font-size: 6vmax;
  animation: loadInSlideTop 1s ease-in-out 0s;
}

.logIn {
  margin: auto;
  position: absolute;
  display: block;
  transform: translate(-50%, -100%);
  top: 60%;
  font-size: 2.25vmin;
  animation: loadInSlideBottom 1s ease-in-out 0s;
}