.App {
  position: absolute;
  text-align: center;
  display: inline-block;
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
  background: transparent;  /* Optional: just make scrollbar invisible */
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 255);
}